<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="card-outer">
          <div class="card card-box" *ngIf="!editLoading">
            <form #addLicenseForm="ngForm" (ngSubmit)="onSubmitForm(addLicenseForm)">
              <div class="card-header">
                  <div class="card-header-tittle">
                    License {{parms_action_name}}
                  </div>
                  <div class="card-header-action">
                  </div>
              </div>
              <div class="card-body">
                <div class="form-wrapper">
                  <ion-grid>
                    <ion-row>
                      <!-- Name -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" type="text" name="lcName" [(ngModel)]="model.lcName" required>
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Creation Date -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Creation Date</mat-label>
                            <input matInput placeholder="Creation Date" type="date" name="creatDate" [(ngModel)]="model.creatDate" required (change)="createDate(model.creatDate)">
                          </mat-form-field>

                          <!-- <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Creation Date <sup class="requiredSup">*</sup></mat-label>
                            <input required matInput [matDatepicker]="dob" name="creatDate" [(ngModel)]="model.creatDate" (dateChange)="createDate(model.creatDate)">
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #dob></mat-datepicker>
                          </mat-form-field> -->
                        </div>
                      </ion-col>
                      <input type="hidden" name="lcCreatDate" [(ngModel)]="model.lcCreatDate">
                       <!-- Duration -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Duration</mat-label>
                            <input required matInput placeholder="Duration" type="number" name="lcValidityNum" [(ngModel)]="model.lcValidityNum" (change)="endDateCalculate('duration',model.lcValidityNum);">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Institute -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item ngsel">
                          
                          <ng-select [ngClass]="{disabled: hideInstitute}" [items]="institutes" 
                                   bindLabel="instName" 
                                   placeholder="Select Institute"
                                   name="instId"
                                   bindValue="instId" 
                                   [(ngModel)]="model.instId"
                                   (change)="ngsel(model.instId)"
                                   required>
                          </ng-select>
                          <label>Select Institute</label>
                        </div>
                      </ion-col>

                      <!-- License Type -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item  ngsel">
                          
                          <ng-select [items]="licenseType" 
                                   bindLabel="name" 
                                   name="lcType"
                                   placeholder="Select License Type"
                                   bindValue="name" 
                                   [(ngModel)]="model.lcType"
                                   (change)="ngsel(model.lcType)"
                                   required>
                          </ng-select>
                          <label>License Type</label>
                        </div>
                      </ion-col>

                      <!-- Server Type -->
                      <ion-col size-xs="12" size-sm="4" size-md="4"  size-lg="4">
                        <div class="form-item ngsel">
                          
                          <ng-select [items]="serverType" 
                                   bindLabel="name" 
                                   name="lcStype"
                                   placeholder="Select Server Type"
                                   bindValue="name" 
                                   [(ngModel)]="model.lcStype"
                                   (change)="ngsel(model.lcStype)"
                                   required>
                          </ng-select>
                          <label>Server Type</label>
                        </div>
                      </ion-col>

                      <!-- Validity -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item ngsel">
                          <!-- <mat-form-field appearance="outline">
                            <mat-label>Validity</mat-label>
                            <mat-select required [(ngModel)]="model.lcValidityType" name="lcValidityType" (selectionChange)="endDateCalculate('validity',model.lcValidityType);">
                              <mat-option *ngFor="let item of validity" [value]="item.name">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                          
                          <ng-select [items]="validity" 
                                   bindLabel="name" 
                                   name="lcValidityType"
                                   placeholder="Select Validity"
                                   bindValue="name" 
                                   [(ngModel)]="model.lcValidityType"
                                   (change)="endDateCalculate('validity',model.lcValidityType);"
                                   required>
                          </ng-select>
                          <label>Validity</label>
                        </div>
                      </ion-col>
                     <!-- End date -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item readOnly">
                          <mat-form-field appearance="outline">
                            <mat-label>End Date</mat-label>
                            <input required matInput placeholder="Name" type="text" name="lcEndDate" [(ngModel)]="model.lcEndDate">
                          </mat-form-field>
                        </div>
                      </ion-col>

                      <!-- Remarks -->
                      <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput name="lcComment" [(ngModel)]="model.lcComment"></textarea>
                          </mat-form-field>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                  <div>
                      <button class="border-btn danger btn-md" type="reset" [routerLink]="['/', 'license-list']" style="margin-right: 10px;" mat-stroked-button>Cancel</button>
                      <button class="fill-btn btn-md" mat-stroked-button type="submit" [disabled]="!addLicenseForm.valid || formLoading">
                        <ion-spinner *ngIf="formLoading" name="crescent"></ion-spinner> 
                        Save
                      </button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>