<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="card-outer">
        <div class="card card-box">
          <div class="card-body">
            <div class="view-data">
              <ion-grid>
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="3">
                    <div class="profile-img">
                      <div class="img-inner">
                        <img src="assets/images/people-1.jpg">
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="8"  size-lg="9">
                    <ion-row class="border">
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorCyan">person</mat-icon>
                          <span class="text-tittle">Name :</span>
                          <span class="text-content">Ahadul Islam</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorBlue">phone_iphone</mat-icon>
                          <span class="text-tittle">Mobile :</span>
                          <span class="text-content">+91 90957 12589</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorRed">mail</mat-icon>
                          <span class="text-tittle">Email :</span>
                          <span class="text-content">ahadul@ulearn.com</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorLightBlue">admin_panel_settings</mat-icon>
                          <span class="text-tittle">User Name :</span>
                          <span class="text-content">ahadul101</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorMaroon">verified</mat-icon>
                          <span class="text-tittle">Emp No :</span>
                          <span class="text-content">10000511020205</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorLightGreen">my_location</mat-icon>
                          <span class="text-tittle">Address :</span>
                          <span class="text-content">148/2, Dunlop</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorLime">room</mat-icon>
                          <span class="text-tittle">City :</span>
                          <span class="text-content">Kolkata</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorOlive">explore</mat-icon>
                          <span class="text-tittle">State :</span>
                          <span class="text-content">West Bengal</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorOrange">public</mat-icon>
                          <span class="text-tittle">Country :</span>
                          <span class="text-content">India</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                        <div class="view-element">
                          <mat-icon class="colorMaroon">pin_drop</mat-icon>
                          <span class="text-tittle">Pin :</span>
                          <span class="text-content">700108</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                
              </ion-grid>
            </div>
          </div>
        </div>
      </div>

      <div class="note-section">
        <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
                <div class="note-item card-outer note-box-primary">
                    <div class="card card-box">
                        <div class="top">
                            <div class="icon">
                                <mat-icon>ballot</mat-icon>
                            </div>
                            <div class="text">Attend Exams</div>
                        </div>
                        <div class="middle">
                            <mat-icon>arrow_downward</mat-icon>
                            <div>100</div>
                        </div>
                        <div class="bottom"><b>+36%</b> from last month</div>
                    </div>
                </div>             
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
                <div class="note-item card-outer note-box-success">
                    <div class="card card-box">
                        <div class="top">
                            <div class="icon">
                                <mat-icon>flaky</mat-icon>
                            </div>
                            <div class="text">Average marks</div>
                        </div>
                        <div class="middle">
                            <mat-icon>arrow_upward</mat-icon>
                            <div>436</div>
                        </div>
                        <div class="bottom"><b>+65%</b> from last month</div>
                    </div>
                </div>             
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
                <div class="note-item card-outer note-box-warning ">
                    <div class="card card-box">
                        <div class="top">
                            <div class="icon">
                                <mat-icon>pending_actions</mat-icon>
                            </div>
                            <div class="text">Average Time/Question</div>
                        </div>
                        <div class="middle">
                            <mat-icon>arrow_upward</mat-icon>
                            <div>433</div>
                        </div>
                        <div class="bottom"><b>+32%</b> from last month</div>
                    </div>
                </div>             
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
                  <div class="note-item card-outer note-box-danger">
                      <div class="card card-box">
                          <div class="top">
                              <div class="icon">
                                  <mat-icon>av_timer</mat-icon>
                              </div>
                              <div class="text">Worst Time per Question</div>
                          </div>
                          <div class="middle">
                              <mat-icon>arrow_downward</mat-icon>
                              <div>50</div>
                          </div>
                          <div class="bottom"><b>+22%</b> from last month</div>
                      </div>
                  </div>             
              </ion-col>
              
            </ion-row>
        </ion-grid>
      </div>

      <div class="table-listing">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                    Exam lists
                  </div>
                  <div class="card-header-action">
                    <!-- <button class="border-btn success" [routerLink]="['/', 'add-payment']" mat-stroked-button>
                      <mat-icon>add_circle_outline</mat-icon>
                      Add Payment
                    </button> -->
                  </div>
              </div>
              <div class="card-body">
                <div class="table-header">
                  <div class="records-wrapper">
                    <ion-item class="record">
                      <span>Records: </span>
                      <mat-form-field>
                        <mat-select value="10">
                          <mat-option value="10">10</mat-option>
                          <mat-option value="25">25</mat-option>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="100">100</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-item>
                  </div>
                  <div class="search-wrapper">
                    <ion-searchbar showCancelButton="focus" debounce="500" placeholder="Search item ...."></ion-searchbar>
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="ion-text-start">
                                    <div>
                                        #
                                    </div>
                                </th>
                                <th class="ion-text-start">
                                  <div>
                                      <ion-checkbox color="primary"></ion-checkbox>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Exam Name
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    No. Of Students
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Total Questions
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Total Scores
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Progress
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Status
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div class="ion-justify-content-center">
                                    Actions
                                  </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr  [hidden]="!isListLoading" class="loading-table-data">
                            <td colspan="100">
                              Data is loading...
                            </td>
                          </tr>
                          <tr  [hidden]="isListLoading" *ngFor="let item of skeleton; let i = index">
                            <td>1</td>
                            <td>
                              <ion-checkbox color="primary"></ion-checkbox>
                            </td>
                            <td>
                              Exam 1
                            </td>
                            <td>
                              5000
                            </td>
                            <td>
                              2000
                            </td>
                            <td>
                              100
                            </td>
                            <td>
                              <div class="progress-wrapper">
                                <div class="progress-bar progress-bar-width warning" style="width: 60%;" data-progress-bar-percent="100">
                                  <div class="progress-bar-anim">60%</div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="status success">
                                Complete
                              </div>
                            </td>
                            <td>
                              <div class="action ion-text-center">
                                <ion-button matTooltip="Exam Report" matTooltipPosition="above" size="small" color="tertiary" [routerLink]="['/', 'tracking-view']">
                                  <mat-icon>view_in_ar</mat-icon>
                                </ion-button>
                                <ion-button matTooltip="Delete" matTooltipPosition="above" size="small" color="danger" (click)="clickActionBtn('', 'delete')">
                                    <mat-icon>delete</mat-icon>
                                </ion-button>
                                <ion-button matTooltip="Download pdf" matTooltipPosition="above" size="small" color="tertiary" (click)="clickActionBtn('', 'pdf')">
                                  <mat-icon>picture_as_pdf</mat-icon>
                                </ion-button>
                                <ion-button matTooltip="Download excel" matTooltipPosition="above" size="small" color="warning" (click)="clickActionBtn('', 'excel')">
                                    <mat-icon>description</mat-icon>
                                </ion-button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="card-footer">
                  <div class="action">
                    <ion-button matTooltip="Refresh" matTooltipPosition="above" size="small" color="secondary" (click)="clickActionBtn('', 'refresh')">
                        <mat-icon>refresh</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Delete" matTooltipPosition="above" size="small" color="danger" (click)="clickActionBtn('', 'delete')">
                        <mat-icon>delete</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Download pdf" matTooltipPosition="above" size="small" color="tertiary" (click)="clickActionBtn('', 'pdf')">
                      <mat-icon>picture_as_pdf</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Download excel" matTooltipPosition="above" size="small" color="warning" (click)="clickActionBtn('', 'excel')">
                        <mat-icon>description</mat-icon>
                    </ion-button>
                  </div>
                  <div>
                    <ul class="pagination">
                        <li class="circle-border" matTooltip="First" matTooltipPosition="above">
                            <a>
                              <!-- First -->
                              <ion-icon name="play-skip-back"></ion-icon>
                            </a>
                        </li>
                        <li class="circle-border" matTooltip="Previous" matTooltipPosition="above">
                            <a>
                              <!-- Previous -->
                              <ion-icon name="caret-back"></ion-icon>
                            </a>
                        </li>
                        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                        <li>
                            Page <a>1</a> of 10
                        </li>
                        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                        <li class="circle-border" matTooltip="Next" matTooltipPosition="above">
                            <a>
                              <!-- Next -->
                              <ion-icon name="caret-forward"></ion-icon>
                            </a>
                        </li>
                        <li class="circle-border" matTooltip="Last" matTooltipPosition="above">
                            <a>
                              <!-- Last -->
                              <ion-icon name="play-skip-forward"></ion-icon>
                            </a>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
