<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="table-listing">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                    Exam List
                  </div>
                  <div class="card-header-action">
                    
                  </div>
              </div>
              <div class="card-body">
                <div class="advance-search">
                  <div class="advance-search-inner">
                    <div class="form-layout">
                      <div class="form-wrapper">
                        <ion-grid>
                          <ion-row>
                            <!-- Exam Date range -->
                            <ion-col size-xs="12" size-sm="6" size-md="3"  size-lg="3">
                              <div class="form-item">
                                <ion-label>Exam Date range</ion-label>
                                <div class="input-field mat-datePicker">
                                    <mat-date-range-input [rangePicker]="picker">
                                      <input matStartDate placeholder="Start date">
                                      <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </div>
                              </div>
                            </ion-col>
                            <!-- Institute -->
                            <ion-col size-xs="12" size-sm="6" size-md="3"  size-lg="3">
                              <div class="form-item">
                                <ion-label>Institutes</ion-label>
                                <ng-select 
                                  #select 
                                  [items]="institute"
                                  placeholder="Please Select Institutes"
                                  [searchable]="false" 
                                  [(ngModel)]="selectedinstitute" 
                                  bindLabel="name" 
                                  bindValue="name">
                                  <ng-template ng-header-tmp>
                                      <input style="width: 100%; line-height: 24px" type="text" />
                                  </ng-template>
                                </ng-select>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-header">
                  <div class="records-wrapper">
                    <ion-item class="record">
                      <span>Records: </span>
                      <mat-form-field>
                        <mat-select value="10">
                          <mat-option value="10">10</mat-option>
                          <mat-option value="25">25</mat-option>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="100">100</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-item>
                  </div>
                  <div class="search-wrapper">
                    <ion-searchbar showCancelButton="focus" debounce="500" placeholder="Search item ...."></ion-searchbar>
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="ion-text-start">
                                    <div>
                                        #
                                    </div>
                                </th>
                                <th class="ion-text-start">
                                  <div>
                                      <ion-checkbox color="primary"></ion-checkbox>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Institutes Name
                                      <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Current exam date
                                      <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    CONTACT NUMBER
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    EMAIL ADDRESS
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div class="ion-justify-content-center">
                                    Actions
                                  </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr  [hidden]="!isListLoading" class="loading-table-data">
                            <td colspan="100">
                              Data is loading...
                            </td>
                          </tr>
                          <tr  [hidden]="isListLoading" *ngFor="let item of skeleton; let i = index">
                            <td>1</td>
                            <td>
                              <ion-checkbox color="primary"></ion-checkbox>
                            </td>
                            <td>
                              <ion-item class="name-box">
                                <ion-avatar slot="start">
                                  <img src="assets/images/lalit.jpeg">
                                </ion-avatar>
                                <ion-label>
                                  <h2 class="userName">Lalit Tutorial</h2>
                                  <h3 class="userRole">Mumbai</h3>
                                </ion-label>
                              </ion-item>
                            </td>
                            <td>
                              8/18/2021
                            </td>
                            <td>
                              +91 91258 96558
                            </td>
                            <td>
                              subhajit@ulearn.in
                            </td>
                            <td>
                              <div class="action ion-text-center">
                                <ion-button matTooltip="View" matTooltipPosition="above" size="small" color="tertiary" [routerLink]="['/', 'tracking-view']">
                                  <mat-icon>view_in_ar</mat-icon>
                                </ion-button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="card-footer">
                <div class="action">
                  <ion-button matTooltip="Refresh" matTooltipPosition="above" size="small" color="secondary" (click)="clickActionBtn('', 'refresh')">
                      <mat-icon>refresh</mat-icon>
                  </ion-button>
                </div>
                <div>
                  <ul class="pagination">
                      <li class="circle-border" matTooltip="First" matTooltipPosition="above">
                          <a>
                            <!-- First -->
                            <ion-icon name="play-skip-back"></ion-icon>
                          </a>
                      </li>
                      <li class="circle-border" matTooltip="Previous" matTooltipPosition="above">
                          <a>
                            <!-- Previous -->
                            <ion-icon name="caret-back"></ion-icon>
                          </a>
                      </li>
                      <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                      <li>
                          Page <a>1</a> of 10
                      </li>
                      <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                      <li class="circle-border" matTooltip="Next" matTooltipPosition="above">
                          <a>
                            <!-- Next -->
                            <ion-icon name="caret-forward"></ion-icon>
                          </a>
                      </li>
                      <li class="circle-border" matTooltip="Last" matTooltipPosition="above">
                          <a>
                            <!-- Last -->
                            <ion-icon name="play-skip-forward"></ion-icon>
                          </a>
                      </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>