<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
            <div class="card-outer">
              <div class="card card-box">
                <div class="card-header">
                  <div class="card-header-tittle">
                    Exam Details
                  </div>
                  <div class="card-header-action">
                    <mat-icon>history_edu</mat-icon>
                  </div>
                </div>
                <div class="card-body">
                  <div class="view-data">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-xs="12" size-sm="12" size-md="3"  size-lg="3">
                          <div class="view-element">
                            <mat-icon class="colorLime">note_alt</mat-icon>
                            <span class="text-tittle">Exam Name :</span>
                            <span class="text-content">Civil Services</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="3"  size-lg="3">
                          <div class="view-element">
                            <mat-icon class="colorBlue">today</mat-icon>
                            <span class="text-tittle">Exam Date :</span>
                            <span class="text-content">26/04/2021</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="3"  size-lg="3">
                          <div class="view-element">
                            <mat-icon class="colorRed">money</mat-icon>
                            <span class="text-tittle">Total Marks :</span>
                            <span class="text-content">100</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="3"  size-lg="3">
                          <div class="view-element">
                            <mat-icon class="colorLightBlue">pending_actions</mat-icon>
                            <span class="text-tittle">Total Time :</span>
                            <span class="text-content">2 Hour's</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="8"  size-lg="8">
            <div class="card-outer">
              <div class="card card-box">
                <div class="card-header">
                  <div class="card-header-tittle">
                    Student Details
                  </div>
                  <div class="card-header-action">
                    <mat-icon>badge</mat-icon>
                  </div>
                </div>
                <div class="card-body">
                  <div class="view-data">
                    <ion-grid>
                      <ion-row class="border">
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorCyan">person</mat-icon>
                            <span class="text-tittle">Name :</span>
                            <span class="text-content">Ahadul Islam</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorBlue">phone_iphone</mat-icon>
                            <span class="text-tittle">Mobile :</span>
                            <span class="text-content">+91 90957 12589</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorRed">mail</mat-icon>
                            <span class="text-tittle">Email :</span>
                            <span class="text-content">ahadul@ulearn.com</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorLightBlue">admin_panel_settings</mat-icon>
                            <span class="text-tittle">User Name :</span>
                            <span class="text-content">ahadul101</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorMaroon">verified</mat-icon>
                            <span class="text-tittle">Emp No :</span>
                            <span class="text-content">10000511020205</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorLightGreen">my_location</mat-icon>
                            <span class="text-tittle">Address :</span>
                            <span class="text-content">148/2, Dunlop</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorLime">room</mat-icon>
                            <span class="text-tittle">City :</span>
                            <span class="text-content">Kolkata</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorOlive">explore</mat-icon>
                            <span class="text-tittle">State :</span>
                            <span class="text-content">West Bengal</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorOrange">public</mat-icon>
                            <span class="text-tittle">Country :</span>
                            <span class="text-content">India</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <mat-icon class="colorMaroon">pin_drop</mat-icon>
                            <span class="text-tittle">Pin :</span>
                            <span class="text-content">700108</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
            <div class="status-spiner">
              <div class="card-outer">
                <div class="card card-box">
                  <div class="card-header noBorder">
                    <div class="card-header-tittle">
                      <b>Exam Status</b>
                    </div>
                    <div class="card-header-action">
                      <!-- <mat-icon>badge</mat-icon> -->
                    </div>
                  </div>
                  <div class="card-body ion-text-center">
                    <ngx-gauge [type]="gaugeType" 
                        [value]="gaugeValue" 
                        [label]="gaugeLabel"
                        [thick] = "gaugethick"  
                        [foregroundColor] = "gaugeforegroundColor"
                        [animate] = "gaugeanimate"
                        [duration] = "gaugeduration"
                        [append]="gaugeAppendText">
                    </ngx-gauge>
                  </div>
                  <div class="card-footer noBorder">
                    <div class="spiner-badge">
                      <div class="badge-item">
                        <span class="badge-name">Complete</span>
                        <span class="badge complete"></span>
                      </div>
                      <div class="badge-item">
                        <span class="badge incomplete"></span>
                        <span class="badge-name">Incomplete</span>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="8"  size-lg="8">
            <div class="card-outer">
              <div class="card card-box">
                <div class="card-header">
                  <div class="card-header-tittle">
                    Exam Summary
                  </div>
                  <div class="card-header-action">
                    <mat-icon>assignment</mat-icon>
                  </div>
                </div>
                <div class="card-body">
                  <div class="view-data">
                    <ion-grid>
                      <ion-row class="border">
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Total Questions :</span>
                            <span class="text-content">25</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Full Marks :</span>
                            <span class="text-content">100</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Correct Response :</span>
                            <span class="text-content">3</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Marks Obtained :</span>
                            <span class="text-content">9</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Incorrect Response :</span>
                            <span class="text-content">5</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Marks Deducted :</span>
                            <span class="text-content">5</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Unattempted Response :</span>
                            <span class="text-content">7</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Marks Left :</span>
                            <span class="text-content">21</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Total Time Spent (in Hr:Min:Sec) :</span>
                            <span class="text-content">	00:07:03</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Average Time per Question (in Min:Sec) :</span>
                            <span class="text-content">00:16</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Result of Marks :</span>
                            <span class="text-content">	4</span>
                          </div>
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
                          <div class="view-element">
                            <span class="text-tittle">Percentage :</span>
                            <span class="text-content">	5.33</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
            <div class="status-spiner">
              <div class="card-outer">
                <div class="card card-box">
                  <div class="card-header noBorder">
                    <div class="card-header-tittle">
                      <b>Chart of Marks Deviation Calculation</b>
                    </div>
                    <div class="card-header-action">
                      <!-- <mat-icon>badge</mat-icon> -->
                    </div>
                  </div>
                  <div class="card-body ion-text-center">
                    <div id="chart">
                      <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [labels]="chartOptions.labels"
                        [responsive]="chartOptions.responsive"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ordinary-table">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                    Speed Accuracy
                  </div>
                  <div class="card-header-action">
                    <mat-icon>speed</mat-icon>
                  </div>
              </div>
              <div class="card-body">
                <div class="ordinary-table-inner">
                  <table>
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Average Time (in Min:Sec)</th>
                        <th>Best Time (in Min:Sec)</th>
                        <th>Worst Time (in Min:Sec)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>Correct Response</b></td>
                        <td>00:01</td>
                        <td>00:01</td>
                        <td>	00:01</td>
                      </tr>
                      <tr>
                        <td><b>Inorrect Response</b></td>
                        <td>00:30</td>
                        <td>00:01</td>
                        <td>02:08</td>
                      </tr>
                      <tr>
                        <td><b>Unattempted Response</b></td>
                        <td>00:36</td>
                        <td>00:01</td>
                        <td>02:42</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="6">
            <div class="status-spiner">
              <div class="card-outer">
                <div class="card card-box">
                  <div class="card-header noBorder">
                    <div class="card-header-tittle">
                      <b>CHART OF TIME TAKEN PER QUESTION</b>
                    </div>
                    <div class="card-header-action">
                      <!-- <mat-icon>badge</mat-icon> -->
                    </div>
                  </div>
                  <div class="card-body ion-text-center">
                    <div id="chart">
                      <apx-chart
                        [series]="chartOptions2.series"
                        [chart]="chartOptions2.chart"
                        [dataLabels]="chartOptions2.dataLabels"
                        [plotOptions]="chartOptions2.plotOptions"
                        [yaxis]="chartOptions2.yaxis"
                        [legend]="chartOptions2.legend"
                        [fill]="chartOptions2.fill"
                        [stroke]="chartOptions2.stroke"
                        [tooltip]="chartOptions2.tooltip"
                        [xaxis]="chartOptions2.xaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="table-listing">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                    Questions lists
                  </div>
                  <div class="card-header-action">
                    <!-- <button class="border-btn success" [routerLink]="['/', 'add-payment']" mat-stroked-button>
                      <mat-icon>add_circle_outline</mat-icon>
                      Add Payment
                    </button> -->
                  </div>
              </div>
              <div class="card-body">
                <div class="table-header">
                  <div class="records-wrapper">
                    <ion-item class="record">
                      <span>Records: </span>
                      <mat-form-field>
                        <mat-select value="10">
                          <mat-option value="10">10</mat-option>
                          <mat-option value="25">25</mat-option>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="100">100</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-item>
                  </div>
                  <div class="search-wrapper">
                    <ion-searchbar showCancelButton="focus" debounce="500" placeholder="Search item ...."></ion-searchbar>
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="ion-text-start">
                                    <div>
                                        #
                                    </div>
                                </th>
                                <th class="ion-text-start">
                                  <div>
                                      <ion-checkbox color="primary"></ion-checkbox>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Question
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Answer
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Correct Answer
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Time Spent
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Marks
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Device Type
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Network Name
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Network Location
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Network IP
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Download Speed
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Upload Speed
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div>
                                    Status
                                    <mat-icon>import_export</mat-icon>
                                  </div>
                                </th>
                                <th class="ion-text-center">
                                  <div class="ion-justify-content-center">
                                    Actions
                                  </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr  [hidden]="!isListLoading" class="loading-table-data">
                            <td colspan="100">
                              Data is loading...
                            </td>
                          </tr>
                          <tr  [hidden]="isListLoading" *ngFor="let item of skeleton; let i = index">
                            <td>1</td>
                            <td>
                              <ion-checkbox color="primary"></ion-checkbox>
                            </td>
                            <td>
                              Question 1
                            </td>
                            <td>
                              Answer 1
                            </td>
                            <td>
                              Correct answer 1
                            </td>
                            <td>
                              02:42
                            </td>
                            <td>
                              10
                            </td>
                            <td>
                              Mobile
                            </td>
                            <td>
                              Vodafone
                            </td>
                            <td>
                              Kolkata
                            </td>
                            <td>
                              192.108.20.01
                            </td>
                            <td>
                              8.63 MBPS
                            </td>
                            <td>
                              3.65 MBPS
                            </td>
                            <td>
                              <div class="status warning">
                                Pending
                              </div>
                            </td>
                            <td>
                              <div class="action ion-text-center">
                                <ion-button matTooltip="Delete" matTooltipPosition="above" size="small" color="danger" (click)="clickActionBtn('', 'delete')">
                                    <mat-icon>delete</mat-icon>
                                </ion-button>
                                <ion-button matTooltip="Download pdf" matTooltipPosition="above" size="small" color="tertiary" (click)="clickActionBtn('', 'pdf')">
                                  <mat-icon>picture_as_pdf</mat-icon>
                                </ion-button>
                                <ion-button matTooltip="Download excel" matTooltipPosition="above" size="small" color="warning" (click)="clickActionBtn('', 'excel')">
                                    <mat-icon>description</mat-icon>
                                </ion-button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="card-footer">
                  <div class="action">
                    <ion-button matTooltip="Refresh" matTooltipPosition="above" size="small" color="secondary" (click)="clickActionBtn('', 'refresh')">
                        <mat-icon>refresh</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Delete" matTooltipPosition="above" size="small" color="danger" (click)="clickActionBtn('', 'delete')">
                        <mat-icon>delete</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Download pdf" matTooltipPosition="above" size="small" color="tertiary" (click)="clickActionBtn('', 'pdf')">
                      <mat-icon>picture_as_pdf</mat-icon>
                    </ion-button>
                    <ion-button matTooltip="Download excel" matTooltipPosition="above" size="small" color="warning" (click)="clickActionBtn('', 'excel')">
                        <mat-icon>description</mat-icon>
                    </ion-button>
                  </div>
                  <div>
                    <ul class="pagination">
                        <li class="circle-border" matTooltip="First" matTooltipPosition="above">
                            <a>
                              <!-- First -->
                              <ion-icon name="play-skip-back"></ion-icon>
                            </a>
                        </li>
                        <li class="circle-border" matTooltip="Previous" matTooltipPosition="above">
                            <a>
                              <!-- Previous -->
                              <ion-icon name="caret-back"></ion-icon>
                            </a>
                        </li>
                        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                        <li>
                            Page <a>1</a> of 10
                        </li>
                        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                        <li class="circle-border" matTooltip="Next" matTooltipPosition="above">
                            <a>
                              <!-- Next -->
                              <ion-icon name="caret-forward"></ion-icon>
                            </a>
                        </li>
                        <li class="circle-border" matTooltip="Last" matTooltipPosition="above">
                            <a>
                              <!-- Last -->
                              <ion-icon name="play-skip-forward"></ion-icon>
                            </a>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
