<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="box-table-header">
        <div class="search-module">
          <div class="form-layout">
            <div class="form-wrapper">
              <div class="form-item">
                <ion-label>Institutes</ion-label>
                <ng-select #select 
                  [items]="institute"
                  placeholder="Please Select Institutes"
                  [searchable]="true" 
                  [(ngModel)]="selectedinstitute" 
                  bindLabel="name" 
                  bindValue="name">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="button-module">
          <button class="border-btn success" [routerLink]="['/', 'add-banners']" mat-stroked-button>
            <mat-icon>add_circle_outline</mat-icon>
            Add Banner
          </button>
        </div>
      </div>

      <div class="card-outer">
        <div class="card card-box">
          <div class="card-header">
            <div class="card-header-tittle">
              Banner Lists
            </div>
            <div class="card-header-action">
              <mat-icon>panorama</mat-icon>
            </div>
          </div>
          <div class="card-body">
            <ion-grid>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4" *ngFor="let item of skeleton; let i = index">
                  <div class="view-data">
                    <div class="card-outer">
                      <div class="card card-box">
                        <div class="card-body">
                          <div class="card-view-box">
                            <div class="image-box">
                              <img src="assets/images/image1.jpg">
                            </div>
                            <div class="content-box">
                              <p class="tittle">Sales reports for this week</p>
                              <p class="desc">A wonderful serenity has taken possession of my entire soul, like these sweet mornings ...</p>
                              <div class="details">
                                <small> Created on: <b>23 Feb 2021</b></small>
                                <small> Updated By: <b>23 Feb 2021</b></small>
                              </div>
                              <div class="button-part">
                                <button class="fill-btn btn-md" mat-stroked-button>Edit</button>
                                <div class="action">
                                  <ion-button matTooltip="Enable" matTooltipPosition="above" size="small" color="success">
                                    <mat-icon>visibility</mat-icon>
                                  </ion-button>
                                </div>
                                <button class="border-btn danger btn-md" mat-stroked-button>Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
